.tysect {
    text-align: center;
    padding: 120px 0 0 0;

    h1 {
        margin-bottom: 15px;
        color: #fff;
        letter-spacing: 0.01em;
        font-weight: 600;
        font-size: 80px;
        line-height: 120%;
        font-family: 'Urbanist', sans-serif;
    }

    p {
        margin: 0 0 50px 0;
        color: #fff;
        letter-spacing: 0.01em;
        font-weight: 500;
        font-size: 55px;
        line-height: 120%;
        font-family: 'Urbanist', sans-serif;
    }

    img {
        width: 100%;
    }

}

@media(max-width:1590.8px) {
    .tysect h1 {
        font-size: 60px;
    }

    .tysect p {
        font-size: 40px;
    }

    .tysect {
        padding-top: 80px;
    }


}

@media(max-width:1199.8px) {
    .tysect h1 {
        font-size: 50px;
    }

    .tysect p {
        font-size: 26px;
    }

}

@media(max-width:991.8px) {
    .tysect {
        padding-top: 60px;
    }

    .tysect p {
        margin-bottom: 30px;
    }
}

@media(max-width:767.8px) {
    .tysect h1 {
        font-size: 42px;
    }

    .tysect p {
        font-size: 21px;
    }








}

@media(max-width:575.8px) {
    .tysect h1 {
        font-size: 32px;
    }

    .tysect p {
        font-size: 18px;
    }

    .tysect__content {
        padding-bottom: 20px;

        .yellbtn {
            padding: 10px 30px;
        }
    }





}




// font-family: 'Urbanist', sans-serif;
// font-family: 'Inter', sans-serif;